

@font-face {
    font-family:"roboto" ;
    src: url(assets/Roboto-Regular.ttf);
}

@font-face {
    font-family:"digital" ;
    src: url(assets/digital-7.ttf);
}
body {

    background-color:#3d768f;
    
}


 .watch {

    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #191b31;
    display: block;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    
    
    
} 



#screen {
    width: 240px;
    height: 60px;
    margin-left: 30px;
    background-color:aqua;
    border-radius: 2px;
    border-style:inset;
    border-width:2px; 
    border-color: rgb(56, 196, 196);
    display: block;
    position:fixed;
    margin-top: 27px;
    
   
}

#chrono {
    
    font-size: 32px;
    font-family: "digital";
    color: rgba(58, 40, 40, 0.829);
    position: fixed;
    display: block;
    margin-left: 5px;
    
    
   
}

#currentTime {
    
    font-size: 64px;
    line-height: 32px;
    font-family: "digital";
    color: rgba(58, 40, 40, 0.829);
    position: fixed;
    display: block;
    margin-left: 55px;
    margin-top: 15px;
    
}


#lapList {
   
    list-style: none;
    font-size: 9px;
    font-family: "digital";
    color: rgba(58, 40, 40, 0.829);  
    display: block;
    position: fixed;
    padding-left: 0;
    margin-left:6px;
    margin-top: 29px;
    

}


.Start:hover {
    background-color: rgb(223, 223, 213);
    border-color: #1b739c;
}

.Start:active {
    background-color: beige;
    border-color: #1e93c9;
    transform: scale(0.98);
}



.Lap:hover {
    background-color: rgb(223, 223, 213);
    border-color: #1b739c;
}

.Lap:active {
    background-color: beige;
    border-color: #1e93c9;
    transform: scale(0.98);
}





.Reset:hover {

    background-color: rgb(39, 39, 39);
    
}

.Reset:active {

    background-color: black;
    transform: scale(0.98);
    
}




.Toggle:hover {

    background-color: rgb(223, 223, 213);
    border-color: #1b739c;
}

.Toggle:active {

    background-color: beige;
    border-color: #1e93c9;
    transform: scale(0.98);
}

.container_buttons .Start,
.container_buttons .Lap,
.container_buttons .Reset,
.container_buttons .Toggle {

    width:20px;
    height:20px;
    border-radius: 11px;
    font-family: "roboto";
    font-size: 8px;
    font-weight: 900;
    color: #000000;
    background-color: #ebf2f5;
    text-align: center;
    line-height: 20px;
    
    
}
.container_buttons  {
    width: 200px;
    height: 50px;
    display: flex;
    border-radius: 3px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
       

}



