/* 
must clarify its le bordel
*/

@font-face {
    font-family:"roboto" ;
    src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family:"digital" ;
    src: url(assets/fonts/digital-7.ttf);
}
body {

    background-color:#2c85ac;
    
}

body.dark-mode {
    background-color: #0e1327;
    
  }


 .watch {

    width: 320px;
    height: 509px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("assets/pictures/background-casio.png");
    display: block;
    position: relative;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    
    
    
} 



#screen {
    width: 193px;
    height: 90px;
    background-color: rgb(140, 199, 199);
    display: block;
    position:fixed;
    border-radius: 5px;
    margin-top: 218px;
    margin-left: 64px;
   
}

 #screen.dark-mode {
    background-color: aqua;

    }
    
#chrono {
    
    font-size: 31px;
    font-family: "digital";
    color: rgba(58, 40, 40, 0.829);
    position: fixed;
    display: block;
    text-align: center;
    line-height: 40px;
    margin-top: 50px;
    margin-left: 2px;

   
}

#currentTime {
    
    font-size: 94px;
    font-family: "digital";
    color: rgba(58, 40, 40, 0.829);
    position: fixed;
    display: block;
    text-align: center;
    
}

#displayMode {
    font-size: 12px;
    font-family: "digital";
    color:rgb(140, 199, 199);
    background-color: rgba(58, 40, 40, 0.829);  
    display: block;
    position: fixed;
    margin-left: 2px;
    margin-top: 1px;
    border-radius: 2px;
    z-index: 1;
    padding-left: 1px;

}



#displayModeDate {
    font-size: 12px;
    font-family: "digital";
    color:rgb(140, 199, 199);
    background-color: rgba(58, 40, 40, 0.829);  
    display: block;
    position: fixed;
    margin-left: 39px;
    margin-top: 1px;
    border-radius: 2px;
    z-index: 1;
    padding-left: 1px;

}



#displayModeAlarm {
    font-size: 12px;
    font-family: "digital";
    color:rgb(140, 199, 199);
    background-color: rgba(58, 40, 40, 0.829);  
    display: block;
    position: fixed;
    margin-left: 64px;
    margin-top: 1px;
    border-radius: 2px;
    z-index: 1;
    padding-left: 1px;

}



#redDot {
    font-size: 14px;
    font-family: "digital";
    color:rgb(153, 6, 6);
    display: block;
    position: fixed;
    margin-left: 180px;
    
    
    

}



#lapList {
   
    list-style:none;
    font-size: 14px;
    font-family: "digital";
    color: rgba(58, 40, 40, 0.829);  
    display: block;
    position: fixed;
    margin-left:2px;
    margin-top: 14px;
    z-index: 1;
    padding-left: 0;

}

li {
    list-style: none;
}


.Start:hover {
    background-color: rgb(223, 223, 213);
    border-color: #1b739c;
}

.Start:active {
    background-color: beige;
    border-color: #1e93c9;
    transform: scale(0.98);
}



.Lap:hover {
    background-color: rgb(223, 223, 213);
    border-color: #1b739c;
}

.Lap:active {
    background-color: beige;
    border-color: #1e93c9;
    transform: scale(0.98);
}





.Reset:hover {

    background-color: rgb(39, 39, 39);
    
}

.Reset:active {

    background-color: black;
    transform: scale(0.98);
    
}




.Toggle:hover {

    background-color: rgb(223, 223, 213);
    border-color: #1b739c;
}

.Toggle:active {

    background-color: beige;
    border-color: #1e93c9;
    transform: scale(0.98);
}

.container_buttons .Start,
.container_buttons .Lap,
.container_buttons .Reset,
.container_buttons .Toggle {

    width:20px;
    height:20px;
    border-radius: 11px;
    font-family: "roboto";
    font-size: 8px;
    font-weight: 900;
    color: #000000;
    background-color: #ebf2f5;
    text-align: center;
    line-height: 20px;
    
    
}
.container_buttons  {
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    margin-top: 385px;
    margin-left:80px;
   
}

#toggle-darkmode {

    margin-top: 445px;
    margin-left: 105px;
}



